# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [4]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/Weatherpy_vacation.csv")

# Display sample data
vacation_df.sample(5)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
55,229,Port Hedland,AU,89.65,clear sky,-20.3167,118.5667,The Esplanade Hotel
24,87,Hilo,US,76.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
88,366,Bonfim,BR,75.60,scattered clouds,3.0833,-59.9500,NaN
113,493,Kirakira,SB,82.11,overcast clouds,-10.4544,161.9205,SanBiz Lodge
9,23,Vaini,TO,87.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [6]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [79]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] =='Charters Towers']
vacation_end = vacation_df.loc[vacation_df['City']=='Charters Towers']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Mackay']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Hervey Bay']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Emerald']

In [80]:
vacation_stop2

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
84,354,Hervey Bay,AU,79.03,scattered clouds,-25.2986,152.8535,Shelly Bay Resort

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [81]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start_lat = vacation_start["Lat"].to_numpy()
start_lng = vacation_start["Lng"].to_numpy()
start = (start_lat[0], start_lng[0])
end_lat = vacation_end["Lat"].to_numpy()
end_lng = vacation_end["Lng"].to_numpy()
end = (end_lat[0], end_lng[0])
stop1_lat = vacation_stop1["Lat"].to_numpy()
stop1_lng = vacation_stop1["Lng"].to_numpy()
stop1 = (stop1_lat[0], stop1_lng[0])
stop2_lat = vacation_stop2["Lat"].to_numpy()
stop2_lng = vacation_stop2["Lng"].to_numpy()
stop2 = (stop2_lat[0], stop2_lng[0])
stop3_lat = vacation_stop3["Lat"].to_numpy()
stop3_lng = vacation_stop3["Lng"].to_numpy()
stop3 = (stop3_lat[0], stop3_lng[0])

In [82]:
stop2

(-25.2986, 152.8535)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [83]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints= [stop1, stop2, stop3], travel_mode='DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [84]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,26,Charters Towers,AU,84.20,overcast clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
1,619,Mackay,AU,81.68,broken clouds,-21.1500,149.2000,International Lodge Motel
2,354,Hervey Bay,AU,79.03,scattered clouds,-25.2986,152.8535,Shelly Bay Resort
3,453,Emerald,AU,89.40,light rain,-23.5333,148.1667,Emerald Inn

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [85]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [86]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))